language: node_js
node_js:
- '12'
install:
- npm install
- npm run build
after_install:
- ls -l
- cd ..
deploy:
  provider: pages
  skip_cleanup: true
  github_token: "$GITHUB_TOKEN"
  keep_history: true
  target_branch: gh-pages
  local_dir: docs
  on:
    branch: master
env:
  global:
    secure: fdRLyx3xXMsknO2HA7gffQIcPlzLoisaeaXCtbHaaIK1Wpj51ZCZZol3CMF0OA4DC5CDa1lwVEZGRJAuCZxfTB3wIEdpDXFZhM8dSoN/e0jsGc/Yri9d9jpuunjDBh8fI7gFUy/YMzxsihjbVVx4b9ib564xxiBXk47BNj0pQPNXZMdjd7tImpBaU7T4opuxUiUlb2wQlJ1e0iEcoKyOPeit8E4Nf63NHFoxVylCqGyxMJR+Lln5lBptwY0pJlMms7TT9kUBdhuCiNL9UxsGzzAoRxGFCsJFoqwnpS11CiGB2UO/c6aZA30Zrvsep/keCerOsE0OqQlQIr4FHFy7vLX9m5lCuLtRHlswSAOFN6zEAqhT7TJYDNZq/KGfTq4xzCq5iNnjuivQkcbxcnUZrqNwXPLvTnB+joSHCe1miToEUfMi6fCtRs8HcslV9g3GKXSex4IbcJDUXI30+r+D4Vm+72KVlGGAzJO3DhTKRzPTL3FSxGzAdb+ifZ52NCscrfYBBkAYWrTdRFtgi3oVuQqtpq9jDxP56xrb5OUJe1OidKuVYGeZUwtc1o6EJw+fMaGWbpZBXjxtsL34dUs8xZHDCs6ay9bba0Fpapx1YaBpiUVflPi5ZOWIt//mfQLn2b2lEyMm0T/LJXbg04FjwS5fsWYMc40p8oZ79NwvUjA=
