* {
  font-family: 'Exo', 'Arial';
  font-weight: 400;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

body {
  &:before {

    position: absolute;
    opacity: 0;
    top: 50%;
    left: calc(50% - 30px);
    transition: opacity 1s ease-in-out;
    z-index: 10000;
  }

  &.loading {
    &:before {
      content: 'loading...';
      opacity: 1;
      transition: opacity 1s ease-in-out;

    }
  }

  &.resizing {
    &:before {
      content: 'resizing...';
      opacity: 1;
      transition: opacity 1s ease-in-out;

    }

    .radar {
      opacity: 0;
      box-shadow: inset 0 0 200px rgba(0, 0, 0, 0);
      transition: all .2s ease-in-out;

    }
  }

}