* {
  font-family: 'Exo', 'Arial';
  font-weight: 400;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $color-chalk;
}

body {
  overflow-x: hidden;

  &:before {
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 60px;
    box-shadow: 0 0 200px $color-high;
    border: 10px solid $color-high;
    background-color: $color-primary;
    color: $color-high;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    transition: all 1s ease-in-out;
    z-index: 10000;
  }

  &.loading {
    &:before {
      content: 'loading...';
      opacity: 1;
      transition: all 1s ease-in-out;
      box-shadow: 0 0 50px $color-high;
      border: 10px solid $color-high;
      background-color: $color-primary;
      color: $color-high;
      font-weight: 800;
    }

    &:after {
      position: absolute;
      content: '*';
      font-family: arial;
      width: 300px;
      font-size: 800px;
      line-height: 650px;
      height: 300px;
      margin-left: -150px;
      margin-top: -140px;

      left: calc(50%);
      top: calc(50%);
      color: $color-primary-dark;
      text-align: center;
      animation: infinite-rotation 3s linear infinite;
      transform-origin: center center;
      display: block;
      overflow: hidden;
      opacity: 1;

      @keyframes infinite-rotation {
        0% {
          transform: rotate(0);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }

    .radar {
      opacity: 0;
      box-shadow: inset 0 0 200px rgba(0, 0, 0, 0);
      transition: all .2s ease-in-out;
    }
  }

  &.resizing {
    &:before {
      content: 'resizing...';
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }

    .radar {
      opacity: 0;
      box-shadow: inset 0 0 200px rgba(0, 0, 0, 0);
      transition: all .2s ease-in-out;
    }
  }
}
