.description {
  line-height: 30px;
  border-top: 1px solid #E60023;
  color: $color-foreground;
  width: 50%;
  margin: auto;

  a {
    text-decoration: none;
    padding: 2px 6px;
    background-color: rgba(0, 0, 0, 0.05);
    color: $color-deep;
    position: relative;

    &:hover {
      background-color: $color-primary;
      color: $color-high;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      background-color: $color-foreground;
      z-index: 10000;
      width: 100%;
    }
  }

  h3 {
    font-weight: 200;
    font-size: 40px;
    margin: 80px 0 30px 0;
    color: $color-deep;
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;

    strong {
      font-weight: 900;
      display: block;
      font-size: 30px;
    }
  }

  ul {
    margin-top: 50px;

    li {
      margin-bottom: 50px;
    }
  }
}
