.footer {
  margin-top: 100px;
  line-height: 30px;
  background-color: $color-primary;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  color: $color-high;
  font-size: 10px;
  font-weight: 500;
  padding: 0 10px;
}
