.header {
  position: absolute;
  height: 25px;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 20000;
  overflow: hidden;

  transition: height 1s ease-in-out;

  a {
    text-decoration: none;
    color: $color-high;
  }

  .company {
    width: 180px;
    height: 25px;
    color: $color-high;
    background-color: $color-primary;
    line-height: 25px;
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    display: inline-block;
    box-shadow: 0 -20px 50px rgba(255, 0, 0, 0.6);
    padding-top: 0;

    transition-property: width, height, padding-top;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;

    .claim {
      margin-left: 5px;
      color: $color-chalk;
    }
  }
}