.legends {

  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;

  @include media-desktop-min {
    display: block;
  }

  .legend {
    position: absolute;
    margin-top: 10px;

    h1, h2, ul, li {
      margin: 0;
      padding: 0;
      display: block;
      color: $color-foreground;
    }

    h1 {
      font-size: 20px;
      font-weight: 600;
    }

    h2 {
      font-size: 14px;
      margin-top: 10px;
    }

    ul {
      li {
        font-size: 10px;
        list-style: none;
        display: block;
        line-height: 14px;

        a {
          padding: 2px 4px 2px 4px;
          font-weight: 500;

          span {
            width: 15px;
            overflow: hidden;
            display: block;
            float: left;
            color: $color-dark;
            margin-right: 5px;
            font-weight: 700;
          }

          color: $color-foreground;
          text-decoration: none;

          &.active {
            font-weight: 900;
            transition: all 0.2s;
            cursor: none;
          }
        }
      }
    }

    .label-container {
      .ring-block {
        width: 50%;
        float: left;
      }
    }

    &[data-quadrant] {
      width: 300px;
      height: 400px;

      [data-ring] {
        a {
          &.selected {
            font-weight: 900;
          }
        }
      }

      [data-ring="0"] {
        a {
          &.active, &.selected {
            background-color: $color-ring0;
          }
        }
      }

      [data-ring="1"] {
        a {
          &.active, &.selected {
            background-color: $color-ring1;
          }
        }
      }

      [data-ring="2"] {
        a {
          &.active, &.selected {
            background-color: $color-ring2;
          }
        }
      }

      [data-ring="3"] {
        a {
          &.active, &.selected {
            background-color: $color-ring3;
          }
        }
      }

    }

    &[data-quadrant="0"] {
      transform-origin: left top;
      transform: translate(450px, 0);
    }

    &[data-quadrant="1"] {
      transform-origin: right top;
      transform: translate(-700px, 0);
    }

    &[data-quadrant="2"] {
      transform-origin: right bottom;
      transform: translate(-700px, 0);
    }

    &[data-quadrant="3"] {
      transform-origin: left bottom;
      transform: translate(450px, 0);
    }


    &[data-ring="1"], &[data-ring="2"] {

    }

    &[data-ring="0"], &[data-ring="3"] {

    }

    &[data-ring="2"], &[data-ring="3"] {
      margin-top: -40px;
    }
  }
}