.radar {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.3);
  z-index: 2;
  opacity: 1;
  transition: all .5s ease-in-out;

  .line {
    position: absolute;
    display: block;
    overflow: hidden;
    background-color: $color-beton;

    &.horizontal {
      height: 1px;
    }

    &.vertical {
      width: 1px;
    }
  }

  @import "./components/dot.scss";
  @import "./components/ring.scss";
  @import "./components/quadrants.scss";
  @import "./components/legends.scss";
}
