$color-primary: #E60023;
$color-primary-dark: darken(desaturate($color-primary, 20%), 20%);
$color-primary-light: lighten(desaturate($color-primary, 20%), 20%);

$color-foreground: #444444;
$color-high: #ffffff;
$color-deep: #000000;
$color-chalk: #dddddd;
$color-dark: #999999;