@font-face {
  font-family: 'Exo';
  font-weight: 200;
  src: url('/css/fonts/Exo-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-weight: 300;
  src: url('/css/fonts/Exo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-weight: 400;
  src: url('/css/fonts/Exo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-weight: 500;
  src: url('/css/fonts/Exo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-weight: 800;
  src: url('/css/fonts/Exo-Black.ttf') format('truetype');
}