@mixin font-face($style-name, $file, $family, $weight) {
  $filepath: "/css/fonts/" + $family + "/" + $file;
  @font-face {
    font-family: "#{$style-name}";
    font-weight: $weight;
    src: url($filepath + ".woff2") format('woff2');
  }
}

@include font-face('Exo', 'Exo-Thin', 'exo-webfont', 200);
@include font-face('Exo', 'Exo-Light', 'exo-webfont', 300);
@include font-face('Exo', 'Exo-Medium', 'exo-webfont', 400);
@include font-face('Exo', 'Exo-Bold', 'exo-webfont', 500);
@include font-face('Exo', 'Exo-Black', 'exo-webfont', 800);
