<h3>Was ist ein Tech Radar?</h3>
<p>
  Der Neofonie Tech Radar ist eine Liste von Technologien, die aktuell im
  Einsatz sind.
  Zudem zeigt er auf, in welcher Phase ihres Einsatzes sich eine gewisse
  Technologie bei uns befindet. Diese Liste ist in ständigem Wandel und
  beinhaltet nur die größten sich im Einsatz befindenden Libraries, Frameworks,
  Tools und Techniken. Die jeweiligen Phasen lauten:
</p>
<ul>
  <li>
    <strong>ADOPT</strong>
    Eine Technologie, welche bereits im Einsatz in produktiven Systemen ist und
    welche weiter genutzt wird für neue Projekte.
    Die Erfahrung in diesen Kategorien ist weitreichend und komplexe Systeme
    können damit bestmöglich gebaut werden.
    Unsere Go-To Technologien!
  </li>
  <li>
    <strong>TRIAL</strong>
    Beschreibt Technologien, die in Prototypen oder Testsystemen im Einsatz
    sind.
    Die Erfahrung mit diesen Technologien ist schon weit genug um größere
    Projekte damit umsetzen zu können,
    jedoch müssen noch weitere Tests durchgeführt werden, um die Zuverlässigkeit
    sicher zu stellen.
  </li>
  <li>
    <strong>ASSESS</strong>
    Diese Technologien sind noch in der Anfangsphase bei der Neofonie.
    Kleinere Tests wurden schon durchgeführt, jedoch kann noch nicht bestimmt
    werden ob diese Tools bereit sind für produktive Systeme.
    Sie werden weiterhin getestet und bewertet.
  </li>
  <li>
    <strong>HOLD</strong>
    Technologien, die früher im Einsatz in Produktivsystem waren, die allerdings
    durch neuere, bessere Alternativen ersetzt wurden.
    Es ist davon auszugehen, dass diese Technologien nicht in zukünftigen
    Projekten zum Einsatz kommen werden.
  </li>
</ul>
