body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 1400px;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

a {
  color: #7d8edb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#descriptionWrapper {
  position: fixed;
  top: 0;
  right: -410px;
  width: 350px;
  height: 100%;
  padding: 0 30px;
  transition: all 0.8s ease-out;
  background: #f3f0f3;
  box-shadow: -5px 0px 15px 0px #cdcdcd;
}

#descriptionWrapper.active {
  right: 0;
}

#descriptionClose {
  position: absolute;
  right: 30px;
  top: 25px;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  font-weight: bold;
}

text[class^="legend"] {
  cursor: pointer;
}

.legend {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.legend div label {
  cursor: pointer;
}