@font-face {
  font-family: 'Exo';
  font-weight: 200;
  src: url('/css/fonts/Exo-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-weight: 300;
  src: url('/css/fonts/Exo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-weight: 400;
  src: url('/css/fonts/Exo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-weight: 500;
  src: url('/css/fonts/Exo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-weight: 800;
  src: url('/css/fonts/Exo-Black.ttf') format('truetype');
}


* {
  font-family: 'Exo', 'Arial';
  font-weight: 400;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

.splash {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;

}

.radar {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 800px;
  max-height: 800px;
  box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.3);
  border-bottom: 100px solid #bcbcbc;
  z-index:2;

  .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    z-index: 500;
    font-size: 10px;
    line-height: 20px;
    font-weight: 500;
    border: 2px solid #f1f1f1;
    overflow: inherit;

    transition-property: font-size, line-height, width, height, margin-left, margin-top, border-radius;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;

    &:before {
      position: absolute;
      content: attr(data-quadrant);
      left: 0;
      top: 50px;
      text-transform: uppercase;
      width: 200px;
      transition: all 0.2s;
      text-align: center;
    }


    &:hover, &.active {
      font-size: 20px;
      line-height: 43px;
      cursor: pointer;
      width: 200px;
      height: 50px;
      margin-left: -100px;
      margin-top: -25px;
      vertical-align: middle;
      z-index: 1000;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
      border-radius: 30px;

      &:before {
        position: absolute;
        top: 15px;
        font-size: 10px;
        transition: all 0.2s;
        transition-delay: 0.1s;
        width: 200px;
      }
    }
  }

  .ring {
    position: absolute;
    border: 1px solid #999999;
    background-color: rgba(255, 255, 255, 0.2);

    &:before {
      position: absolute;
      content: attr(data-name);
      text-align: center;
      width: 100%;
      font-size: 40px;
      font-weight: 700;
      z-index: 10;
      opacity: 0.2;
      top: 5px;
    }
  }

  .quadrants {
    height: 100%;
    width: 100%;


    .quadrant {
      position: absolute;
      z-index: 10;
      background: rgba(0, 0, 0, 0);
      border: 0 solid rgba(0, 0, 0, 0.2);

      &.active {

      }

      &:nth-child(1) {

      }

      &:nth-child(2) {

      }

      &:nth-child(3) {

      }
    }
  }

  .legends {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:100;

    .legend {
      position: absolute;

      h1, h2, ul, li {
        margin: 0;
        padding: 0;
        display: block;
      }

      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 14px;
        margin-top: 10px;
      }

      ul {
        li {
          font-size: 10px;
          list-style: none;
          display: block;
          line-height: 14px;

          a {
            padding:2px 4px 2px 4px;
            span {
              width: 15px;
              overflow: hidden;
              display: block;
              float: left;
              color: #aaaaaa;
              margin-right: 5px;
              font-weight: 700;
            }

            color: #000000;
            text-decoration: none;

            &.active {
              font-weight:900;
              transition:all 0.2s;
            }
          }
        }
      }

      .label-container {

        .ring-column {
          width: 50%;
          float: left;

          .ring-block {
          }
        }

      }

      &[data-ring] {
        width: 300px;
        height: 400px;
      }

      &[data-ring="1"], &[data-ring="2"] {
        margin-left: -700px;
      }

      &[data-ring="0"], &[data-ring="3"] {
        margin-left: 450px;
      }

    }
  }
}

