@import "./mixins/responsive.scss";
@import "./mixins/typo.scss";

// change the ring size here. 0 = 0% , 1 = 100%
:root {
  --radar-ring-0: 0.37;
  --radar-ring-1: 0.55;
  --radar-ring-2: 0.68;
  --radar-ring-3: 0.82;
}

@import "./components/base.scss";
@import "./components/splash.scss";
@import "./components/header.scss";

.radar {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.3);
  z-index: 2;
  opacity: 1;
  transition: all .5s ease-in-out;

  @import "./components/dot.scss";
  @import "./components/ring.scss";
  @import "./components/quadrants.scss";
  @import "./components/legends.scss";
}

