// change the ring size here. 0 = 0% , 1 = 100%
:root {
  --radar-ring-0: 0.37;
  --radar-ring-1: 0.55;
  --radar-ring-2: 0.68;
  --radar-ring-3: 0.82;
}

@import "./mixins/responsive.scss";
@import "./mixins/typo.scss";
@import "./mixins/colors.scss";

@import "./components/base.scss";
@import "./components/splash.scss";
@import "./components/header.scss";
@import "./components/menu.scss";
@import "./components/fork.scss";
@import "./components/print.scss";
@import "./components/radar.scss";
@import "./components/page.scss";
